<div class="text-center" style="margin-top: 40px;">
    <div *ngIf='!response' class="spinner-border text-secondary" role="status"> 
        <span class="sr-only">Loading...</span>
    </div>
</div>

<!-- start of posts section -->
<div *ngIf='post' style="margin-top: 40px;">

    <div  class="container post" style="border: 1px solid grey;background-color: white;">

        <!-- start of post header -->
        <img src="{{post.authorId?.image}}" class="post-img" style="margin-right: 0;border: hidden;" alt="">
        <div style="display: inline-block;">
            <span class="bold">{{post.authorId?.name}}</span> <br>
            <span style="margin-left: 5px;">{{post.date|date:'medium'}}</span>
        </div>
        <div *ngIf='currentUserInfo?.id == post.authorId?._id' style="display: inline-block;float: right;">
            <div class="dropdown">
                <span style="cursor: pointer;"  class="dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)='showBox(oldText,ff)'>
                      edit
                  </a>
                </div>
              </div>
        </div>
        <div style="margin-top: 10px;">
            
            <form #ff  hidden #f='ngForm' id="{{post._id}}" (ngSubmit)='editPost(f,oldText,ff)' >
                <textarea [(ngModel)]='post.text' name="newText" style="width: 70%;margin-right: 0;"  rows="2"></textarea>
                <button style="margin-left: 5px;margin-bottom: 10px;" class="btn post-btn" >
                    save
                </button>
            </form>
                
            <p #oldText id="post{{post._id}}">{{post.text}}</p>
            <div class="text-center">
                <img *ngIf='post.image' src="{{post.image}}" style="max-width: 100%;max-height: 200px" >
            </div>
        </div>
        <i class="far fa-thumbs-up "></i> {{post.likes?.length}}        
        <hr>
        <!-- end of post header -->

        <!-- start of like and comment buttons -->
        <div style="margin-top: 5px;">
            <span [class.blue]='checkLike(post._id)'
             (click)='addLike(post._id)' id="btn_{{post._id}}" class="bold likeBtn"><i class="far fa-thumbs-up "></i> Like</span>
            <span class="bold" style="margin-left: 20px;" (click)='showComments(post._id)' > <i class="far fa-comment "></i> Comment</span>
        </div>
        <hr>
        <!-- end of like and comment buttons -->

        <div id="comm_{{post._id}}">
            <!-- start of comments  -->
        <div *ngIf='post.comments && post.comments.length !=0'>
            <div *ngFor='let comment of post.comments' style="margin-top:7px;">
                <img src="{{comment?.commenterId?.image}}" class="commenter-img"  alt="">
                <div class="comment">
                    <span style="font-weight: bold;display: block;">{{comment?.commenterId?.name}}</span> 
                    <span  style="margin: 0px;padding: 0;" id="{{comment._id}}">{{comment?.text}} </span>
                </div>
                <div style="display: inline-block;" hidden id="new{{comment._id}}">
                    <input value='{{comment.text}}' #newComment type="text" style="border-radius: 5px;margin:2px 5px;border-color: grey;">
                    <span class="save-comm-btn" (click) ='editComment(comment._id,post._id,newComment.value)' >save</span>
                </div>
                <div *ngIf='comment?.commenterId?._id == currentUserInfo?.id' style="display: inline-block;">
                    <i class="far fa-trash-alt" style="float: right;font-size: small;" (click)='deleteComment(comment._id,post._id)' ></i>
                    <i class="far fa-edit" style="float: right;font-size: small;margin-right: 2px;" (click)='showEditCommentBox(comment._id)' ></i>
                </div>
            </div>
        </div>
        <!-- end of comments  -->

         <!-- start of comment input -->
        <div>
            <img src="{{currentUserInfo?.image}}" class="commenter-img" style="margin-right: 0;border: hidden;" alt="">
            <input #comm class="comment" type="text" placeholder="Write a comment ..." style="margin-top: 7px;">
            <button (click)='addComment(post._id,comm.value);comm.value="";' style="margin-left: 5px;" class="btn post-btn">
                <i class="fas fa-location-circle"></i>    
            </button>
        </div>
         <!-- end of comment input -->
        </div>

    </div>  
  </div>
<!-- end of posts section -->